.bigButton {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #1b8381;
    font-size: 20px;
    background: #1b8381;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 50px;
  }
  
  .bigButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.dollar {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}


.container2 {
    width: 40%;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    background: #EEFFFD;
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    /* color: #009688; */
    padding: 20px;
    margin: 10px;
    box-shadow:
	  inset #009688 0 0 0 5px, 
    inset #059c8e 0 0 0 1px, 
    inset #0cab9c 0 0 0 10px, 
    inset #1fbdae 0 0 0 11px, 
    inset #8ce9ff 0 0 0 16px;
    text-shadow: 3px 3px 1px #bfecf7;
    text-align: center;
    border-radius: 25px;
}

.spacing {
  margin-right: 10px;
  padding: 10px;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.choices {
  font-family: Montserrat, sans-serif;;
  line-height: 30px;
  font-weight: bold;
  color: #009688;
  padding: 20px;
  box-shadow:
  inset #009688 0 0 0 5px, 
  inset #059c8e 0 0 0 1px, 
  inset #0cab9c 0 0 0 10px, 
  inset #1fbdae 0 0 0 11px, 
  inset #8ce9ff 0 0 0 16px;
  text-align: left;
  border-radius: 25px;
  margin-bottom: 10px;
}