:root {
  background-color: #EEFFFD;
  text-align: center;
  color: #342b50;
  padding: 0 20px;
  font-family: Montserrat, sans-serif;
}
/* 
Color Palette - 

Background: #EEFFFD
Text: #342b50
Buttons: #1b8381
Secondary Background (Maybe for prompts or part of something): #F4F5F8

*/


